@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { background: #ffffff; color: #0f172a; }
a { text-decoration: none; }

/* globals.css */

/* Optional: CI-Farben als CSS-Variablen */
:root {
  --sand: #28A392;
  --graphite: #243236;
}

/* Globale Utility-Klasse für die Highlight-Schrift */
.font-highlight {
  font-family: var(--font-highlight), "Kirang Haerang", cursive;
}

